@layer base {
    :root {
        --blue: #2c8daa;
        --pink: #cb3487;
        --whiteText: rgba(150, 150, 150, 1);
        --blackText: black;
        --darkBackground: rgba(0, 0, 0, 0.85);
        --linkColor: white;
        --visitedLink: #ff8ddb;

        --sans: "Open Sans", sans-serif;

        /* Font Scale */
        --base-size: 1rem;
        --scale: 1.25;
        --h1: calc(var(--h2) * var(--scale));
        /* 3.66rem */
        --h2: calc(var(--h3) * var(--scale));
        /* 2.93rem */
        --h3: calc(var(--h4) * var(--scale));
        /* 2.34rem */
        --h4: calc(var(--h5) * var(--scale));
        /* 1.875rem */
        --h5: calc(var(--h6) * var(--scale));
        /* 1.5rem */
        --h6: var(--base-size);
        /* 1.2rem */
        --small: calc(var(--base-size) / var(--scale));
        --xSmall: calc(var(--small) / var(--scale));
        /* 0.96rem */
        --radius: 5px;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        font-family: var(--sans);
        line-height: 1.5;
        font-size: var(--base-size);
        padding: 0;
        margin: 0;
        color: var(--blackText);
        background-color: var(--darkBackground);

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
        margin: 0;
    }

.primaryContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items:flex-start;
  flex-direction: row;
  height: 100vh;
  /* width: 100%; */
}

.secondaryContainer {
  display: flex;
  /* height: 40%; */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.buttonContainer {
  padding: 0.2em;
  margin: 0.2em;
}

.jsonBox {
  margin: 0.2em;
  color: black;
  font-size: large;
}

.layoutContainer {
  /* width: 100%; */
  /* height: 100%; */
  border: 2px solid black;
  margin: 0.5em;
  display: flex;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
}

.warehouseGrid {
  margin: 0;
  padding: 0;
}

.controlsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tableControls {
  padding: 0.1em;
  display: flex;
  align-items: center;
}

.tableControls button {
  border-radius: 5px;
  border: inset 0px 0px 0px 1px solid white;
  background-color: whitesmoke;
  color: lightcoral;
}

.tableControls button:hover {
  background-color: darkgray;
  color: whitesmoke;
  border: 1px solid lightblue;
}

.gridControls {
  display: flex;
  width: 100%;
  min-height: 30px;
  background: rgba(2, 110, 29, 0.85)
}

.gridTemplateBox {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  padding: 10px;
  width: fit-content;
  border: 1px solid darkgray;
}

.gridBox {
  display: flex;
  flex-direction: column;
  gap:4px;
  justify-content: flex-start;
  align-items: center;
}

.gridHeader {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #e8e8e8;
    position: relative;
}

.bayBox {
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* .bayBoxEditing {
  border: 2px solid #006eff;
    padding: -2px;
    margin: -2px;
} */

#gridInputBox {
    width: 40px;
    height: 40px;
    border: 2px solid #006eff !important;
    padding: -2px !important;
    margin: -2px !important;
    box-sizing: border-box;
    font-size: inherit;
    text-align: center;
    flex-shrink: 0;
}



.addColumn {
    display: flex;
    align-self: flex-start;
}

.addColumn button {
  min-height: 40px;
  min-width: 40px;
}

.cellEditButton {
  background-color: transparent;
  border: none;
  font-weight: normal;
}



}