#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.buttonContainer {
  padding: 0.2em;
  margin: 0.2em;
}

.jsonBox {
  margin: 0.2em;
  color: black;
  font-size: large;
}